PyQt5
beautifulsoup4
requests
adblockparser
cryptography
pycryptodome
pqcrypto
PyQtWebEngine
dnspython
stem

# Packages need to be maintained and upgraded to the latest
# PyQt5 can't be upgraded to PyQt6 due to lack of infrastructure - System will break
# pqcrypto - Post Quantum - This is in testing phases currently with Kyber1024 - Planned for future releases
