PySide6
QtWebEngine
beautifulsoup4
requests
adblockparser
cryptography
pycryptodome
pqcrypto
dnspython
stem

# Packages need to be maintained and upgraded to the latest
# pqcrypto - Post Quantum - This is in testing phases currently with Kyber1024 - Planned for future releases
# If you receive a "Name/NoModule Error = It means "pip install that particular missing package"
